{% extends "layout.html" %}
{%block body %}
<div style=" border-radius: 20px; background-color: lightblue; width: 25%; min-width:300px; padding:10px 25px 25px 25px;" >
   <h1>About Us</h1>
    <hr>
    <p> Rizwan Mohamed
        <br>
        email: rizwanmohamed8286@gmail.com
    </p>
    <p> Madiha Ruheen
        <br>
        email: madiharuheen@gmail.com
    </p>
    <p> Shaik Mohammed Muzammil
        <br>
        email: S.m.muzz28@gmail.com
    </p>
    <p> Shaik Abdul Rahman
        <br>
        email: Shaikabdulr435@gmail.com
    </p>
</div>

{% endblock %}